/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Bitter:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

/* Bootstrap icons */
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");

:root {
    /* Fonts */
	--primary-font: 'Open Sans', sans-serif;
	--secondary-font: 'Bitter', serif;

    --bs-body-font-size: 1.4rem;

    /* Colours */
    --color-coffee-6: #432b20; 	/* main font-color */
    --color-orange-1: #f5ddd2;
    --color-orange-2: #eabaa5;
	--color-orange-3: #e09878;  	
    --color-orange-4: #bd582c; 	/* main colour */
	--color-coffee-4: #865640;
	--color-green-4: #637052; 

    /* Header height */
    --header-height: 65px;

    /* Location selection div */
    --waypoint-height: 65px;

    /* Footer height */
    --footer-height: 70px;

    html {
        font-size: 16px; /* Ensure 1rem is equal to 16px */
    }
}

.colour-coffee-2 {
    color: var(--color-coffee-2); 	
}
.colour-coffee-4 {
    color: var(--color-coffee-4); 	
}

.colour-orange-4 {
    color: var(--color-orange-4); 	
}

body {
    /* Font family and colour */
    font-family: var(--primary-font), sans-serif;
    color: var(--color-coffee-6);
    /* max-width: 420px; */
}

body, html {
    /*  Ensure the body and html span the full viewport height. */
    height: 100%;
    margin: 0;
}

main {
    /* Make main>a flex container with vertical stacking. */
    display: flex;
    flex-direction: column;
    height: calc(100vh - var(--header-height) - var(--footer-height)); /* Full viewport height minus header and footer heights */
}


a {
    text-decoration: none;
    color: var(--color-coffee-6);
    cursor: pointer;
}

h1, .h1 {
    font-family: var(--primary-font), sans-serif;
    font-weight: 700;
}

h2, .h2 {
    font-family: var(--primary-font), sans-serif;
    font-weight: 700;
}

h3, .h3 {
    font-family: var(--secondary-font), sans-serif;
    font-weight: 600;
}

h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
    font-weight: 400;
}

/* Buttons */
.btn {
    cursor: pointer;
    transition: var(--color-orange-1) 0.3s ease; /* Smooth transition on hover */
    font-family: var(--primary-font), sans-serif;
}

/* Asterisk wildcard selector to override default styles added by the browser */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box; /* Ensures that when we set the height or width to an element, it will be applied to the entire element, including the border. */
}

.hidden {
    display: none !important;
}

.cursor-pointer {
    cursor: pointer;
}

.row {
    margin: 0;
    padding: 0;
}

/* override Bootstrap */
.row>* {
    padding: 0;
    margin: 0
}


/* Header */

header {
    height: var(--header-height);
    width: 100%;
    justify-content: space-between; /* Aligns content to left and right */}

header > h1 {
    font-size: 25px;
    letter-spacing: -1px; /* Reduce space between letters */
    margin: 0;
}

#logo {
    height: 30px;
    padding-top: 5px;
}

.map {
    flex-grow: 1; /* Allow the map to grow and take up available space */
}

#current-device-container {
    border-top: solid 1px #eabaa5;
}

.flex-center {
    display: flex;        /* Vertically center */
    align-items: center;
}

.border-bottom-orange {
    border-bottom: solid 1px #eabaa5;
}

.border-top-orange {
    border-top: solid 1px #eabaa5;
}

.waypoint:hover,
#waypoint-selection-options {
    background-color: var(--color-orange-1);
}

.background-orange {
    background-color: var(--color-orange-1);
}

.waypoint {
    height: var(--waypoint-height);
    display: flex;        /* Vertically center */
    align-items: center;
    justify-content: space-between; /* Aligns content to left and right */
}

.square-box {
    border: solid 1px var(--color-coffee-6);
    border-radius: 5px;
    width: 31%;
    aspect-ratio: 1/1;
    box-sizing: border-box;
}

.square-box p {
    font-size: clamp(1.1rem, 1vw, 1.5rem); /* Font size scales between 0.8rem and 1.5rem based on viewport */
}

.mm-marker {
    height: 1.4rem;
    padding-right: 5px; /* space between marker and text */
}

.orange {
    color: var(--color-orange-4);
}

.leaflet-popup-tip {
    display: none;      
}

#zoom-to-location {
    width: 35px;
    height: 35px;
    font-size: 1.2rem;
    border-color: grey;;
} 

.red-placeholder::placeholder {
    color: red;
}

.leaflet-popup-content {
    font-size: 1rem;
}

.leaflet-container {
    font-family: var(--primary-font), sans-serif;
}

/* Pop up for selecting location on map */
.fixed-popup {
    /* at the bottom of the screen, above the footer */
    bottom: var(--footer-height);
    background-color: white;
    border: solid 1px var(--color-orange-1);
    z-index: 1000;  /* Ensure it stays above the map */
    font-size: 1.2rem;
    width: 100%;
}

.btn-use-this {
    background-color: var(--color-orange-4);
    color: white;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    font-size: 1.2rem;
}

#text-search-input {
    width: auto;
    font-size: inherit; /* overrides the font-size set by Bootstrap */
    flex-grow: 1;       /* Make the input take the remaining space */
    margin-right: 5px;
}

#text-search-submit {
    /* Make button same height as input field */
    height: 47px;
    width: 47px; /* Make the button square */
    padding: 0;    
    display: flex; /* Center the icon inside */
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}

footer {
    height: var(--footer-height);
} 

.footer-icon-container {
    /* width: 42px;  */
    /* height: 42px; */
} 

.footer-icon {
    height: 40px;  
}

.centered-flex {
    display: flex; /* Enables Flexbox */
    justify-content: center; /* Centers content horizontally */
    align-items: center; /* Centers content vertically */
}

.current-page {
    border: 1px solid var(--color-orange-4);
    border-radius: 10px;
    padding: 3px 0;
}

#saved-places-list {
    overflow-y: auto; /* Add scrollbar when content overflows */
}

#saved-places-list p {
    margin: 0;
    padding: 0;
}