/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Bitter:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

/* Bootstrap icons */
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");

:root {
    /* Fonts */
	--primary-font: 'Open Sans', sans-serif;
	--secondary-font: 'Bitter', serif;

    /* Colours */
    --color-coffee-6: rgb(67, 43, 32); 	/* main font-color */
    --color-orange-1: #f5ddd2;
    --color-orange-2: #eabaa5;
    --color-orange-4: #bd582c; 	/* main colour */


    /* Asterisk wildcard selector to override default styles added by the browser */
    * {
        padding: 0;
        margin: 0;
        box-sizing: border-box; /* Ensures that when we set the height or width to an element, it will be applied to the entire element, including the border. */
    }

    html {
        font-size: 16px; /* Ensure 1rem is equal to 16px */
    }

    body {
        /* Font family and colour */
        font-family: var(--primary-font), sans-serif;
        color: var(--color-coffee-6);
        max-width: 420px;
    }

    a {
        text-decoration: none;
        color: var(--color-coffee-6);
        cursor: pointer;
    }

    h2, .h2 {
        font-family: var(--secondary-font), sans-serif;
        font-weight: 700;
    }

    h3, .h3 {
        font-family: var(--secondary-font), sans-serif;
        font-weight: 600;
    }

    h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
        font-weight: 400;
    }

    /* Buttons */
    .btn {
        cursor: pointer;
        transition: background-color 0.3s ease; /* Smooth transition on hover */
        font-family: var(--primary-font), sans-serif;
    }

}

.hidden {
    display: none !important;
}

.cursor-pointer {
    cursor: pointer;
}

.device-row:hover, #start-location-display:hover {
    background-color: var(--color-orange-2);
}

.option {
    background-color: var(--color-orange-1);
}

.square-box {
    border: solid 1px var(--color-coffee-6);
    border-radius: 5px;
    width: 30%;
    aspect-ratio: 1/1;
    box-sizing: border-box;
}

.wheel-icon {
    width: 1.2rem;
}

.marker-icon {
    font-size: 1.2rem;
}

.orange {
    color: var(--color-orange-4);
}

#map { 
    height: 300px; 
}